<script defer src="javascripts/index.js"></script>

<div id ="form1">
    <h1 class="text-dark">Bienvenido al bingo</h1>
<div class="form-floating mb-3">
    <input type="email" class="form-control" id="email" placeholder="name@example.com">
    <label for="floatingInput">Correo electrónico</label>
</div>
<div class="form-floating" id="inputPasswordWelcome">
    <input type="password" class="form-control" id="password" placeholder="Password">
    <label for="floatingPassword">Contraseña</label>
</div>
<div>
    <button type="button" class="btn btn-primary" = id="btnLogIn">Entrar</button>

</div>

    <a href="http://localhost:3000/user/register" target="_blank">Registrarse</a>

</div>



