<script defer src="/javascripts/lobby.js"></script>

<div id="lobbyCSS">

<h2>Lobby</h2>
<ul class="list-group" id="lobbyList">

</ul>

<label for="" id="labelId">{{id}}</label>
<label for="" id="labelIdGamer">{{idGamer}}</label>


<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="progressbar"></div>
</div>

</div>

