<script defer src="/javascripts/lobby.js"></script>

<h2>Lobby</h2>
<ul class="list-group" id="lobbyList">

</ul>

<label for="" id="labelId">{{id}}</label>

<button id="btnStart">Empezar juego (no va a quedar)</button>