<script defer src="/javascripts/start.js"></script>

<table class="table">
  <thead>
    <tr>
      <th scope="col">B</th>
      <th scope="col">I</th>
      <th scope="col">N</th>
      <th scope="col">G</th>
      <th scope="col">O</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      <th scope="row" id="B1">-</th>
      <th scope="row" id="I16">-</th>
      <th scope="row" id="N31">-</th>
      <th scope="row" id="G46">-</th>
      <th scope="row" id="O61">-</th>
    </tr>
    <tr>
      <th scope="row" id="B2">-</th>
      <th scope="row" id="I17">-</th>
      <th scope="row" id="N32">-</th>
      <th scope="row" id="G47">-</th>
      <th scope="row" id="O62">-</th>
    </tr>
    <tr>
      <th scope="row" id="B3">-</th>
      <th scope="row" id="I18">-</th>
      <th scope="row" id="N33">-</th>
      <th scope="row" id="G48">-</th>
      <th scope="row" id="O63">-</th>
    </tr>
    <tr>
      <th scope="row" id="B4">-</th>
      <th scope="row" id="I19">-</th>
      <th scope="row" id="N34">-</th>
      <th scope="row" id="G49">-</th>
      <th scope="row" id="O64">-</th>
    </tr>
    </tr>
    <tr>
      <th scope="row" id="B5">-</th>
      <th scope="row" id="I20">-</th>
      <th scope="row" id="N35">-</th>
      <th scope="row" id="G50">-</th>
      <th scope="row" id="O65">-</th>
    </tr>
    </tr>
    <tr>
      <th scope="row" id="B6">-</th>
      <th scope="row" id="I21">-</th>
      <th scope="row" id="N36">-</th>
      <th scope="row" id="G51">-</th>
      <th scope="row" id="O66">-</th>
    </tr>
    </tr>
    <tr>
      <th scope="row" id="B7">-</th>
      <th scope="row" id="I22">-</th>
      <th scope="row" id="N37">-</th>
      <th scope="row" id="G52">-</th>
      <th scope="row" id="O67">-</th>
    </tr>
    </tr>
    <tr>
      <th scope="row" id="B8">-</th>
      <th scope="row" id="I23">-</th>
      <th scope="row" id="N38">-</th>
      <th scope="row" id="G53">-</th>
      <th scope="row" id="O68">-</th>
    </tr>
    </tr>
    <tr>
      <th scope="row" id="B9">-</th>
      <th scope="row" id="I24">-</th>
      <th scope="row" id="N39">-</th>
      <th scope="row" id="G54">-</th>
      <th scope="row" id="O69">-</th>
    </tr>
    </tr>
    <tr>
      <th scope="row" id="B10">-</th>
      <th scope="row" id="I25">-</th>
      <th scope="row" id="N40">-</th>
      <th scope="row" id="G55">-</th>
      <th scope="row" id="O70">-</th>
    </tr>
    <tr>
      <th scope="row" id="B11">-</th>
      <th scope="row" id="I26">-</th>
      <th scope="row" id="N41">-</th>
      <th scope="row" id="G56">-</th>
      <th scope="row" id="O71">-</th>
    </tr>
    <tr>
      <th scope="row" id="B12">-</th>
      <th scope="row" id="I27">-</th>
      <th scope="row" id="N42">-</th>
      <th scope="row" id="G57">-</th>
      <th scope="row" id="O72">-</th>
    </tr>
    <tr>
      <th scope="row" id="B13">-</th>
      <th scope="row" id="I28">-</th>
      <th scope="row" id="N43">-</th>
      <th scope="row" id="G58">-</th>
      <th scope="row" id="O73">-</th>
    </tr>
    <tr>
      <th scope="row" id="B14">-</th>
      <th scope="row" id="I29">-</th>
      <th scope="row" id="N44">-</th>
      <th scope="row" id="G59">-</th>
      <th scope="row" id="O74">-</th>
    </tr>
    <tr>
      <th scope="row" id="B15">-</th>
      <th scope="row" id="I30">-</th>
      <th scope="row" id="N45">-</th>
      <th scope="row" id="G60">-</th>
      <th scope="row" id="O75">-</th>
    </tr>
  </tbody>
</table>

<div>
  <button type="button" class="btn btn-primary" id="btnBallot">Sacar balota</button>

</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">B</th>
      <th scope="col">I</th>
      <th scope="col">N</th>
      <th scope="col">G</th>
      <th scope="col">O</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      <th scope="row" ><button type="button" class="btn btn-primary">-</button></th>
      <th scope="row" ><button type="button" class="btn btn-primary">-</button></th>
      <th scope="row" ><button type="button" class="btn btn-primary">-</button></th>
      <th scope="row" ><button type="button" class="btn btn-primary">-</button></th>
      <th scope="row" ><button type="button" class="btn btn-primary">-</button></th>
    </tr>
    <tr>
      <th scope="row" ><button type="button" class="btn btn-primary">-</button></th>
      <th scope="row" ><button type="button" class="btn btn-primary">-</button></th>
      <th scope="row" ><button type="button" class="btn btn-primary">-</button></th>
      <th scope="row" ><button type="button" class="btn btn-primary">-</button></th>
      <th scope="row" ><button type="button" class="btn btn-primary">-</button></th>
    </tr>
    <tr>
      <th scope="row" ><button type="button" class="btn btn-primary">-</button></th>
      <th scope="row" ><button type="button" class="btn btn-primary">-</button></th>
      <th scope="row" >Libre</th>
      <th scope="row" ><button type="button" class="btn btn-primary">-</button></th>
      <th scope="row" ><button type="button" class="btn btn-primary">-</button></th>
    </tr>
    <tr>
      <th scope="row" ><button type="button" class="btn btn-primary">-</button></th>
      <th scope="row" ><button type="button" class="btn btn-primary">-</button></th>
      <th scope="row" ><button type="button" class="btn btn-primary">-</button></th>
      <th scope="row" ><button type="button" class="btn btn-primary">-</button></th>
      <th scope="row" ><button type="button" class="btn btn-primary">-</button></th>
    </tr>
    <tr>
      <th scope="row" ><button type="button" class="btn btn-primary">-</button></th>
      <th scope="row" ><button type="button" class="btn btn-primary"=>-</button></th>
      <th scope="row" ><button type="button" class="btn btn-primary">-</button></th>
      <th scope="row" ><button type="button" class="btn btn-primary">-</button></th>
      <th scope="row" ><button type="button" class="btn btn-primary">-</button></th>
    </tr>


  </tbody>
</table>

<label for="" id="labelId">{{id}}</label>